/* CSS declarations go here */
.hidden_div{
	display : none;
    margin-top: 10px;
}

body {
    margin-top: 60px;
}

.thumbnail {
    padding: 15px;
}
.thumbnail h3 {
    margin-top: 5px;
}

.user-btns {
    margin-right: 3px;
}