/* CSS declarations go here */
.hidden_div{
	display : none;
    margin-top: 10px;
}

body {
    margin-top: 60px;
}

.thumbnail {
    padding: 15px;
}
.thumbnail h3 {
    margin-top: 5px;
}

.user-btns {
    margin-right: 3px;
}

.brand_icon_navbar {
    max-height: 20px;
    max-width: 20px;
}

.fixed_vote_button {
    background-color: #e6e6e6;
    border-color: #ccc;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}